<burger-menu class="inline_container">
  <div class="Logo">
    <img src="./images/logo.svg" alt="logo" />
  </div>

  <swipe-area for-element="burger-menu" class="BurgerSwipeArea"></swipe-area>

  <dialog id="burger-menu">
    <nav>
      <ul>
        <li>
          <a class="NavLink" target="_self" rel="noopener" href="#"> HOme </a>
        </li>
        <li>
          <a class="NavLink" target="_self" rel="noopener" href="#">
            ABOUT US
          </a>
        </li>
        <li>
          <a class="NavLink" target="_self" rel="noopener" href="#">
            FURNITURE
          </a>
        </li>
        <li>
          <a class="NavLink" target="_self" rel="noopener" href="#"> STORES </a>
        </li>
        <li>
          <a class="NavLink" target="_self" rel="noopener" href="#">
            CONTACT US
          </a>
        </li>
        <li>
          <a class="NavLink" target="_self" rel="noopener" href="#"> OFFICE </a>
        </li>
      </ul>
    </nav>
  </dialog>
</burger-menu>
