<footer class="Footer">
  <section
    class="b_right_white content_paddings_left grid-AISpaceBetween-gap40 blockWithBackgroundImage _left_area contain_p"
    data-below-1024="content_paddings"
  >
    <img
      class="_background_image cover"
      src="./images/blockBackground.svg"
      alt=""
    />

    <div class="Logo">
      <img src="./images/logo.svg" alt="logo" />
    </div>

    <p class="p_without_left">
      Uncover the joy of woodworking at Wood Academy. Discover the enriching
      experience of creating something with your own hands. Join our vibrant
      community and embark on a journey of creativity, fulfillment, and lifelong
      learning.
    </p>

    <div class="p_without_left b_top_white">
      <small class="t_gray">
        Copyright © 2023 WoodAcademy. All rights reserved.
      </small>
    </div>
  </section>
  <section
    class="grid-gap40 small_block_paddings p_inline_20_100 _right_top_area"
    data-below-1024="content_paddings"
  >
    <section
      class="grid-ACBaseline-gap20"
      data-below-1024="m_inline_auto t_center fullCentring"
    >
      <h4>Subscribe to Wood Academy</h4>
      <p>
        Get exclusive deals and sales & weekly tips and techniques from expert
        woodworkers.
      </p>
    </section>

    <form class="" action="#">
      <fieldset
        class="grid-columns1frAuto-gap40"
        data-below-1024="m_inline_auto t_center flex-gap20-JCCenter-rowWrap"
      >
        <legend class="visuallyHidden">Subscribe to Wood Academy</legend>

        <input
          class="Input b_bottom_coffee"
          type="email"
          name=""
          placeholder="E-mail"
          required
          data-below-425="w_100per"
        />
        <button
          type="submit"
          class="Button block-yellowCoffeeBg-whiteText"
          data-hover-focus="blackBlockWhiteText"
        >
          SUBSCRIBE
        </button>
      </fieldset>
    </form>
    <nav
      class="flex-rowWrap-gap15_40 m_top_65"
      data-below-1024="flex-JCCenter-gap50"
    >
      <ul class="grid-ACBaseline-gap20" data-below-425="t_center">
        <h4 class="t_upper">ABOUT US</h4>

        <div class="grid-gap10">
          <li>
            <a
              href="#"
              target="_self"
              rel="noreferrer"
              data-hover-focus="t_underline"
            >
              Our Academy
            </a>
          </li>
          <li>
            <a
              href="#"
              target="_self"
              rel="noreferrer"
              data-hover-focus="t_underline"
            >
              Our Instructor
            </a>
          </li>
          <li>
            <a
              href="#"
              target="_self"
              rel="noreferrer"
              data-hover-focus="t_underline"
            >
              Our Blog
            </a>
          </li>
        </div>
      </ul>
      <ul class="grid-ACBaseline-gap20" data-below-425="t_center">
        <h4 class="t_upper">INFORMATION</h4>

        <div class="grid-gap10">
          <li>
            <a
              href="#"
              target="_self"
              rel="noreferrer"
              data-hover-focus="t_underline"
            >
              Term of Use
            </a>
          </li>
          <li>
            <a
              href="#"
              target="_self"
              rel="noreferrer"
              data-hover-focus="t_underline"
            >
              Privacy Policy
            </a>
          </li>
          <li>
            <a
              href="#"
              target="_self"
              rel="noreferrer"
              data-hover-focus="t_underline"
            >
              FAQ
            </a>
          </li>
          <li>
            <a
              href="#"
              target="_self"
              rel="noreferrer"
              data-hover-focus="t_underline"
            >
              Instructions
            </a>
          </li>
        </div>
      </ul>
      <ul class="grid-ACBaseline-gap20">
        <h4 class="t_upper" data-below-425="t_center">INFORMATION</h4>

        <div class="grid-gap10">
          <li>
            <address class="decorLetter decorLetter_address">
              6/8 Wilmette Pl, Mona Vale <br />
              NSW 2103
            </address>
          </li>
          <li>
            <a
              class="decorLetter decorLetter_email"
              href="mailto:info@woodacademy.com"
              data-hover-focus="t_underline"
            >
              info@woodacademy.com
            </a>
          </li>
          <li>
            <a
              class="decorLetter decorLetter_phone"
              href="tel:+1800 888 888"
              data-hover-focus="t_underline"
            >
              1800 888 888
            </a>
          </li>
        </div>
      </ul>
    </nav>
  </section>
  <iframe
    class="_bottom_area h_100per"
    data-below-1440="h_50svh"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d303620.52748487995!2d49.15668071815593!3d53.521425160229235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x416878e800ccce15%3A0xf556927b10d096a!2z0KLQvtC70YzRj9GC0YLQuCwg0KHQsNC80LDRgNGB0LrQsNGPINC-0LHQuy4!5e0!3m2!1sru!2sru!4v1708159000135!5m2!1sru!2sru"
    style="border: 0; width: 100%"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</footer>
