<header class="Header content_paddings">
  <nav class="NavMenu cont_inline_size">
    <ul class="flex-PCCenterSpaceBetween-rowNowrap-AICenter styledScrollbar">
      <li>
        <a class="NavLink" target="_self" rel="noopener" href="#"> HOme </a>
      </li>
      <li>
        <a class="NavLink" target="_self" rel="noopener" href="#"> ABOUT US </a>
      </li>
      <li>
        <a class="NavLink" target="_self" rel="noopener" href="#">
          FURNITURE
        </a>
      </li>
      <li class="Logo stickyLeft0">
        <img
          class="translate_0_25per p_inline_15"
          data-below-1440="hidden"
          src="./images/logo.svg"
          alt="logo"
        />
        <img
          class="third_coffee_bg"
          data-on-1440="hidden"
          src="./images/smallLogo.svg"
          alt="logo"
        />
      </li>
      <li>
        <a class="NavLink" target="_self" rel="noopener" href="#"> STORES </a>
      </li>
      <li>
        <a class="NavLink" target="_self" rel="noopener" href="#">
          CONTACT US
        </a>
      </li>
      <li>
        <a class="NavLink" target="_self" rel="noopener" href="#"> OFFICE </a>
      </li>
    </ul>
  </nav>
</header>
